.VPSidebar .group:has(> .VPSidebarItem > .items),
.VPSidebar .group:has(> .VPSidebarItem > .items) + .group {
  border-top: 0;
  padding-top: 0;
}

.VPSidebar .group:has(> .VPSidebarItem > .items) > .VPSidebarItem > .item > .link {
  padding-left: 16px;
}

.VPSidebar .group:has(> .VPSidebarItem > .items) > .VPSidebarItem > .item > .link > .text {
  margin: 0;
}

.VPSidebar .group:has(> .VPSidebarItem > .items) > .VPSidebarItem > .items {
  padding-left: 32px;
}